//
// Header
//

@import '../../../styles/mixins';

.header {
  padding: 35px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left-side,
  &__right-side {
    display: flex;
    align-items: center;
  }

  /**
   *
   * Responsive
   *
   */
  @include mobileOrTablet() {
    padding: 20px 0;
  }
}
