//
// Variables
//

$container-size: 1250px;

/**
 *
 * Color
 *
 */
$bg-color: #f6f4f8;
$color-primary: #440891;
$color-primary-hover: #2d0562;
$color-primary-10: rgb(68, 8, 145, 0.1);
$color-dark: #272727;
$color-red: #d51f1f;
