//
// Button
//

@import '../../../styles/variables';

.button {
  border: 0;
  outline: 0;
  padding: 10px 15px;
  border-radius: 7px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  transition: all 225ms;

  &:hover {
    cursor: pointer;
    background-color: #252525;
  }

  &.has-rounded {
    border-radius: 999px;
  }

  &--theme-primary {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  &--theme-primary-ghost {
    background-color: $color-primary-10;
    color: $color-primary;

    &:hover {
      background-color: $color-primary;
      color: #fff;
    }
  }

  &--theme-gray {
    background-color: #dddddd;
    color: #000000;

    &:hover {
      background-color: $color-primary;
      color: #fff;
    }
  }

  &--size-small {
    padding: 5px 10px;
    font-size: 12px;
  }
}

.button[disabled] {
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}
